header {
    display:inline-block;
    text-align:left; 
    margin-left: 10px;
    padding: 8px;
    font-style:italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    font-weight: 400;
    font-size: 40px;
    
    


}
a:hover {
    display:inline-block;
    box-shadow: 4px, 2px, 0.7 rgba(0,204,201, 0.1);
    border-color: red;
    border-radius: 4px; 
    background-color: grey; 

    
}
ul { list-style-type:none;}
a {text-decoration:none;
color: black;
}
